* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pinar;
    direction: rtl;
  }
  @font-face {
    font-family: sans;
    src: url(../IRANSansXFaNum-ExtraBold.woff2);
  }
  @font-face {
    font-family: pinar;
    src: url(../Pinar-VF.woff2);
  }
  :root {
    --rang: #5b9a8b;
  }
  body {
    background-color: rgb(246, 246, 246);
  }