@media (min-width: 768px) and (max-width: 992px) {
  div.menu {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--rang);
    z-index: 999;
  }
  div.menu > nav {
    width: inherit;
    height: inherit;
    display: flex;
  }
  div.menu > nav > ul {
    width: 50%;
    height: inherit;
    display: none;
    margin-right: 28%;
    display: flex;
    flex-flow: row-reverse wrap;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }
  div.menu > nav > ul > li {
    margin: 0 20px;
    display: none;
  }
  div.menu > nav > ul > li > a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms linear;
  }
  div.menu > nav > ul > li > a:hover {
    border-bottom: 2px solid #445069;
    color: black;
  }

  div.menu > nav > h3 {
    width: 30%;
    display: flex;
    align-items: center;

    margin-right: 3%;
  }
  div.menu > nav > h3 > a {
    color: white;
    text-decoration: none;
  }
  div.menu > nav > h3 > a > span {
    color: white;
  }
  div.menu > nav > a {
    margin-top: 1%;
    margin-left: 4%;
    font-size: 22px;
    color: white;
  }
  div.menu > nav > a > span > div.taskbar {
    width: 0;
    height: 0;
    background-color: aquamarine;
    transition: all 300ms linear;
    margin-top: 6.1%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
    transform-origin: top left;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  div.menu > nav > a > span:hover > div.taskbar {
    width: 200px;
    height: 100vh;
    background-color: var(--rang);
    transform: scale(1);
    padding-top: 2%;
  }
  div.menu > nav > a > span > div.taskbar > p {
    text-align: center;
    margin-top: 11%;
    font-size: 16px;
    font-weight: 700;
    display: block;
    width: 40%;
    height: 5%;
  }
  div.menu > nav > a > span > div.taskbar > p:hover {
    border-bottom: 2px solid white;
  }
  div.container5 {
    width: 95%;
    padding-bottom: 5%;
    box-shadow: 2px 2px 15px gray;
    margin: 10% auto;
    border-radius: 15px;
    background-color: white;
  }
  div.container5 > div.header {
    width: 100%;
    height: 141px;
    background-color: var(--rang);
    border-radius: 15px 15px 0 0;
    text-align: center;
  }
  div.container5 > div.header > p {
    line-height: 141px;
    font-size: 250%;
    font-weight: bolder;
    color: white;
    background-image: url();
  }
  div.container5 > div.double {
    width: 96%;

    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
  }
  div.container5 > div.double > div.rast {
    width: 46%;
  }

  div.container5 > div.double > div.rast > h3 > span {
    color: var(--rang);
  }
  div.container5 > div.double > div.rast > div.map {
    width: 100%;
    height: 200px;

    margin-top: 5%;
    margin-bottom: 6%;
  }
  div.container5 > div.double > div.rast > div.map > iframe {
    width: 100%;
    height: 200px;
  }
  div.container5 > div.double > div.rast > div.address {
    width: 100%;
    margin-bottom: 5%;

    display: flex;
    column-gap: 2%;
  }
  div.container5 > div.double > div.rast > div.address > div.icon {
    width: 8%;
    text-align: center;
    background-color: #ededed;
    border-radius: 50%;
    padding-top: 1%;
  }
  div.container5 > div.double > div.rast > div.address > div.icon > span {
    color: var(--rang);
    ;
  }
  div.container5 > div.double > div.rast > div.address > p {
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 1.5%;
    font-weight: 500;
  }
  div.container5 > div.double > div.chap {
    width: 46%;
    height: 400px;
  }
  div.container5 > div.double > div.chap > h3 {
    margin-bottom: 5%;
  }
  div.container5 > div.double > div.chap > h3 > span {
    color: var(--rang);
  }
  div.container5 > div.double > div.chap > div.form {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid var(--rang);
    display: flex;
    margin-bottom: 6%;
  }
  div.container5 > div.double > div.chap > div.form > span {
    width: 9.5%;
    height: 43px;
    background-color: #fafafa;
    color: var(--rang);
    text-align: center;
    line-height: 42px;
    font-size: 18px;
  }
  div.container5 > div.double > div.chap > div.form > form > input {
    width: 180%;
    height: 43px;
    display: flex;
    justify-content: center;
    border: unset;
    outline: unset;
    margin-right: 6%;
  }
  div.container5 > div.double > div.chap > div.textarea {
    width: 100%;
    height: 129px;
    border-bottom: 2px solid var(--rang);
    display: flex;
    margin-bottom: 6%;
  }
  div.container5 > div.double > div.chap > div.textarea > span {
    width: 9.5%;
    height: 127px;
    background-color: #fafafa;
    color: var(--rang);
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    padding: 0 2%;
  }
  div.container5 > div.double > div.chap > div.textarea > textarea {
    width: 100%;
    border: none;
    padding-right: 3%;
    resize: none;
    outline: unset;
  }
  div.container5 > div.double > div.chap > a {
    text-decoration: none;
    padding: 0.8% 4%;
    background-color: var(--rang);
    color: white;
    font-size: 14px;
    border-radius: 3px;
  }
}
