@media (max-width: 576px) {
  div.menu {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--rang);
    z-index: 999;
  }
  div.menu > nav {
    width: inherit;
    height: inherit;
    display: flex;
  }
  div.menu > nav > ul {
    width: 50%;
    height: inherit;
    display: none;
    margin-right: 28%;
    display: flex;
    flex-flow: row-reverse wrap;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }
  div.menu > nav > ul > li {
    margin: 0 20px;
    display: none;
  }
  div.menu > nav > ul > li > a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms linear;
  }
  div.menu > nav > ul > li > a:hover {
    border-bottom: 2px solid #445069;
    color: black;
  }

  div.menu > nav > h3 {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 2%;
  }
  div.menu > nav > h3 > a {
    color: white;
    text-decoration: none;
  }
  div.menu > nav > h3 > a > span {
    color: white;
  }
  div.menu > nav > a {
    margin-top: 0.2%;
    margin-left: 4%;
    font-size: 22px;
    color: white;
  }
  div.menu > nav > a > span > div.taskbar {
    width: 0;
    height: 0;
    background-color: aquamarine;
    transition: all 300ms linear;
    margin-top: 5.8%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
    transform-origin: top left;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  div.menu > nav > a > span:hover > div.taskbar {
    width: 200px;
    height: 100vh;
    background-color: var(--rang);
    transform: scale(1);
    padding-top: 2%;
  }
  div.menu > nav > a > span > div.taskbar > p {
    text-align: center;
    margin-top: 11%;
    font-size: 14px;
    font-weight: 700;
    display: block;
    width: 40%;
    height: 7%;
  }
  div.menu > nav > a > span > div.taskbar > p:hover {
    border-bottom: 2px solid white;
  }
  div.container3 {
    width: 98%;
    padding-bottom: 5%;
    box-shadow: 2px 2px 15px gray;
    margin: 8.5% auto;
    border-radius: 15px;
    background-color: white;
  }
  div.container3 > div.header {
    width: 100%;
    height: 141px;
    background-color: var(--rang);
    border-radius: 15px 15px 0 0;
    text-align: center;
  }
  div.container3 > div.header > p {
    line-height: 141px;
    font-size: 250%;
    font-weight: bolder;
    color: white;
  }
  div.container3 > h3 {
    margin: 3% 4%;
    margin-bottom: 2%;
    font-size: 130%;
  }
  div.container3 > h3 > span {
    color: var(--rang);
  }
  div.container3 > div.box {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  div.container3 > div.box > div.items {
    width: 78%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.container3 > div.box > div.items > div.pic {
    width: 20%;

    background-color: rgba(237, 237, 237, 0.515);
    margin-top: 0;
    border-radius: 50%;
    text-align: center;
    padding: 4%;
    transition: all 300ms linear;
  }
  div.container3 > div.box > div.items > div.pic:hover {
    transform: translateY(-3%);
    box-shadow: 0px 10px 10px lightgrey;
  }
  div.container3 > div.box > div.items > div.pic > img {
    width: 80%;
    height: 80%;
  }
  div.container3 > div.box > div.items > h4 {
    margin-top: 3.5%;
  }
  div.container3 > div.box > div.items > p {
    font-size: 85%;
    text-align: center;
    padding: 6%;
    padding-top: 3%;
    color: black;
    font-weight: 500;
    margin-bottom: 5%;
  }
  div.container3 > div.moshtari {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  div.container3 > div.moshtari > img {
    width: 30%;
    margin: 0 3.3%;
  }

  div.container3 > div.feedback {
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3%;
    padding-top: 1%;
  }
  div.container3 > div.feedback > div.item {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  div.container3 > div.feedback > div.item > div.comment > div.img {
    margin-top: -12%;
    margin-right: -35%;
  }
  div.container3 > div.feedback > div.item > div.comment img {
    border-radius: 50%;
    width: 12%;
    margin-right: 50%;
  }
  div.container3 > div.feedback > div.item > div.comment {
    width: 100%;
    height: 110px;
    background-color: white;
    border-top: 2px solid var(--rang) !important;
    padding: 0 2.5%;
    margin-top: 2%;
    border: 1px solid lightgray;
    margin-bottom: 5%;
  }
  div.container3 > div.feedback > div.item > div.comment > p {
    font-size: 80%;
    color: black;
    font-weight: 500;
  }
  div.container3 > div.feedback > div.item > h5 {
    margin-right: 48%;
  }
  div.container3 > div.feedback > div.item > h6 {
    margin-top: 5%;

    margin-right: -8%;
    color: rgb(173, 173, 173);
  }
  div.container3 > div.feedback > div.item5 {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  div.container3 > div.feedback > div.item5 > div.comment > div.img {
    margin-top: -12%;
    margin-right: -35%;
  }
  div.container3 > div.feedback > div.item5 > div.comment img {
    border-radius: 50%;
    width: 12%;
    margin-right: 50%;
  }
  div.container3 > div.feedback > div.item5 > div.comment {
    width: 100%;
    height: 110px;
    background-color: white;
    border-top: 2px solid var(--rang) !important;
    margin-top: 2%;
    padding: 0 2.5%;
    border: 1px solid lightgray;
  }
  div.container3 > div.feedback > div.item5 > div.comment > p {
    font-size: 80%;
    color: black;
    font-weight: 500;
  }
  div.container3 > div.feedback > div.item5 > h5 {
    margin-right: 48%;
    color: black;
  }
  div.container3 > div.feedback > div.item5 > h6 {
    margin-top: 5%;
    margin-right: -8%;
    color: rgb(173, 173, 173);
  }
  div.container3 > div.neshan {
    width: 57%;
    height: 3%;
    margin: 1% auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    column-gap: 4%;
    align-items: center;
  }
  div.container3 > div.neshan > div.neshan1 > a {
    width: 300%;
    text-align: center;
    margin-right: -90%;
    background-color: rgb(236, 236, 236);
    display: inline-block;
    padding: 5%;
    height: 80%;
  }
  div.container3 > div.neshan > div.neshan2 > a {
    background-color: rgb(236, 236, 236);
    display: inline-block;
    width: 300%;
    text-align: center;
    height: 80%;
    margin-right: -90%;
  }
  div.container3 > div.neshan span {
    color: black;
  }
  div.container3 > div.price {
    width: 91%;
   

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5%;
  }
  div.container3 > div.price > div.plans {
    width: 90%;
    height: inherit;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0;
    transition: all 300ms linear;
    margin: 20px 0;
  }
  div.container3 > div.price > div.plans:hover {
    transform: translateY(-3%);
    box-shadow: 0px 10px 10px lightgrey;
  }

  div.container3 > div.price > div.plans > h1 {
    font-family: sans;
    font-size: 250%;
  }

  div.container3 > div.price > div.plans > h6 {
    color: rgb(189, 189, 189);
  }
  div.container3 > div.price > div.plans > a {
    text-decoration: none;
    padding: 1% 7%;
    background-color: var(--rang);
    border-radius: 5%;
    color: white;
  }
  div.container3 > div.price > div.plans > p {
    color: black;
    font-size: 90%;
  }
}
