@media (min-width: 992px) and (max-width: 1200px) {
  div.menu {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: rgb(246, 246, 246);
    z-index: 999;
  }
  div.menu > nav {
    width: inherit;
    height: inherit;
  }
  div.menu > nav > ul {
    width: 85%;
    height: inherit;
    margin-left: 3.5%;
    display: flex;
    flex-flow: row-reverse wrap;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }
  div.menu > nav > ul > li {
    margin: 0 20px;
  }
  div.menu > nav > ul > li > a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms linear;
  }
  div.menu > nav > ul > li > a:hover {
    border-bottom: 2px solid #445069;
    color: black;
  }
  div.menu > nav > h3 {
    width: 30%;

    margin-right: 4.5%;
  }
  div.menu > nav > h3 > a {
    color: black;
    text-decoration: none;
  }
  div.menu > nav > h3 > a > span {
    color: var(--rang);
  }
  div.container2 {
    width: 90%;
    height: 1200px;
    box-shadow: 2px 2px 15px gray;
    margin: 9.5% auto;
    border-radius: 15px;
    background-color: white;
  }
  div.container2 > div.header {
    width: 100%;
    height: 141px;
    background-color: var(--rang);
    border-radius: 15px 15px 0 0;
    text-align: center;
  }
  div.container2 > div.header > p {
    line-height: 141px;
    font-size: 250%;
    font-weight: bolder;
    color: white;
  }
  div.titr {
    width: 100%;

    display: flex;
    align-items: center;
    column-gap: 35.7%;
    padding-right: 4%;
    padding-top: 2.5%;
  }
  div.container2 > div.titr > p {
    font-weight: bolder;
    margin-bottom: 2%;
    color: black;
    font-size: 130%;
  }
  div.container2 > div.titr > p > span {
    color: var(--rang);
  }
  div.container2 > div.rezume {
    width: 100%;

    display: flex;
  }
  div.container2 > div.rezume > div.right {
    width: 50%;
    height: 550px;
    border-right: 2px solid lightgrey;
    padding: 0% 4.3%;
    padding-right: 0.3%;
    margin-right: 4%;
  }
  div.container2 > div.rezume > div.left {
    width: 50%;
    height: 550px;
    border-right: 2px solid lightgrey;
    padding: 0% 5%;
    padding-right: 1.8%;
  }

  div.container2 > div.rezume > div.right > div.box {
    width: 101%;
    height: 160px;

    margin-right: 4%;
    margin-top: 4%;
    border-right: 2px solid var(--rang);
    padding: 3%;
    box-shadow: 0px 0px 2px gray;
  }
  div.container2 > div.rezume > div.left > div.box {
    width: 101%;
    height: 160px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 4%;

    border-right: 2px solid var(--rang) !important;
    padding: 3%;
  }

  div.container2 > div.rezume > div.right > div.box > h6 {
    display: inline-block;
    margin: 2% 0;
    color: var(--rang);
  }
  div.container2 > div.rezume > div.right > div.box > h5 {
    display: inline-block;
    margin-right: 5%;
    color: gray;
  }
  div.container2 > div.rezume > div.right > div.box > p {
    font-size: 88%;
    color: black;
  }

  div.container2 > div.rezume > div.left > div.box > h6 {
    display: inline-block;
    margin: 2% 0;
    color: var(--rang);
  }
  div.container2 > div.rezume > div.left > div.box > h5 {
    display: inline-block;
    margin-right: 5%;
    color: gray;
  }
  div.container2 > div.rezume > div.left > div.box > p {
    font-size: 88%;
    color: black;
  }
  div.container2 > div.daraje {
    width: 92.5%;
    height: 240px;
    margin: 3% auto;

    display: flex;

    column-gap: 3%;
  }
  div.container2 > div.daraje > div.item {
    width: 50%;
    height: 230px;
  }

  div.container2 > div.daraje > div.item > p {
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: 130%;
    color: black;
  }
  div.container2 > div.daraje > div.item > p > span {
    color: var(--rang);
  }

  div.container2 > div.daraje > div.item > div.box {
    width: 100%;
    height: 12px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 3.5%;
    margin-top: 0.6%;
  }
  div.container2 > div.daraje > div.item > div.box > div.rang {
    width: 90%;
    height: 12px;
    background-color: var(--rang);
  }
  div.container2 > div.daraje > div.item > div.box > div.rang2 {
    width: 65%;
    height: 12px;
    background-color: var(--rang);
  }
  div.container2 > div.daraje > div.item > div.box > div.rang3 {
    width: 100%;
    height: 12px;
    background-color: var(--rang);
  }
  div.container2 > div.daraje > div.item5 {
    width: 50%;
    height: 230px;
  }
  div.container2 > div.daraje > div.item5 > p {
    font-weight: bolder;
    color: black;
    margin-bottom: 6%;
    font-size: 130%;
  }
  div.container2 > div.daraje > div.item5 > p > span {
    color: var(--rang);
  }

  div.container2 > div.daraje > div.item5 > div.box {
    width: 100%;
    height: 12px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 3.9%;
  }
  div.container2 > div.daraje > div.item5 > div.box > div.rang {
    width: 95%;
    height: 12px;
    background-color: var(--rang);
  }
  div.container2 > div.daraje > div.item5 > div.box > div.rang2 {
    width: 70%;
    height: 12px;
    background-color: var(--rang);
  }
  div.container2 > div.daraje > div.item5 > div.box > div.rang3 {
    width: 85%;
    height: 12px;
    background-color: var(--rang);
  }
  div.container2 > a {
    display: inline-block;
    margin-right: 44%;
    font-weight: bold;

    text-decoration: none;
    color: black;
    padding: 1% 2.5%;
    box-shadow: 1px 1px 5px gray;
    border-radius: 8%;
    font-size: 80%;
  }
}
