@media (min-width: 768px) and (max-width: 992px) {
  div.menu {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: var(--rang);
    z-index: 999;
  }
  div.menu > nav {
    width: inherit;
    height: inherit;
    display: flex;
  }
  div.menu > nav > ul {
    width: 50%;
    height: inherit;
    display: none;
    margin-right: 28%;
    display: flex;
    flex-flow: row-reverse wrap;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }
  div.menu > nav > ul > li {
    margin: 0 20px;
    display: none;
  }
  div.menu > nav > ul > li > a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms linear;
  }
  div.menu > nav > ul > li > a:hover {
    border-bottom: 2px solid #445069;
    color: black;
  }

  div.menu > nav > h3 {
    width: 30%;
    display: flex;
    align-items: center;

    margin-right: 3%;
  }
  div.menu > nav > h3 > a {
    color: white;
    text-decoration: none;
  }
  div.menu > nav > h3 > a > span {
    color: white;
  }
  div.menu > nav > a {
    margin-top: 1%;
    margin-left: 4%;
    font-size: 22px;
    color: white;
  }
  div.menu > nav > a > span > div.taskbar {
    width: 0;
    height: 0;
    background-color: aquamarine;
    transition: all 300ms linear;
    margin-top: 6.1%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
    transform-origin: top left;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  div.menu > nav > a > span:hover > div.taskbar {
    width: 200px;
    height: 100vh;
    background-color: var(--rang);
    transform: scale(1);
    padding-top: 2%;
  }
  div.menu > nav > a > span > div.taskbar > p {
    text-align: center;
    margin-top: 11%;
    font-size: 16px;
    font-weight: 700;
    display: block;
    width: 40%;
    height: 5%;
  }
  div.menu > nav > a > span > div.taskbar > p:hover {
    border-bottom: 2px solid white;
  }
  div.container4 {
    width: 94%;
    padding-bottom: 5%;
    box-shadow: 2px 2px 15px gray;
    margin: 10% auto;
    border-radius: 15px;
    background-color: white;
  }
  div.container4 > div.header {
    width: 100%;
    height: 141px;
    background-color: var(--rang);
    border-radius: 15px 15px 0 0;
    text-align: center;
  }
  div.container4 > div.header > p {
    line-height: 141px;
    font-size: 250%;
    font-weight: bolder;
    color: white;
  }
  div.container4 > div.samples {
    width: 100%;
    margin-top: 2.6%;
    display: flex;
    justify-content: center;
    column-gap: 2%;
  }
  div.container4 > div.samples > a {
    text-decoration: none;
    font-size: 80%;
    color: rgb(134, 134, 134);
    font-weight: 400;
    transition: all 300ms linear;
    border-radius: 10%;
    padding: 0.2% 0.5%;
  }
  div.container4 > div.samples > a:hover {
    background-color: lightgray;
  }
  div.container4 > div.samples > a:focus {
    background-color: var(--rang);
    color: white;
  }
  div.container4 > div.pix {
    width: 92%;
    

    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  div.container4 > div.pix > img {
    width: 33%;
    margin: 0.3% 0px;
  }
}
