@media (min-width: 992px) and (max-width: 1200px) {
  div.menu {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: rgb(246, 246, 246);
    z-index: 999;
  }
  div.menu > nav {
    width: inherit;
    height: inherit;
  }
  div.menu > nav > ul {
    width: 85%;
    height: inherit;
    margin-left: 3.5%;
    display: flex;
    flex-flow: row-reverse wrap;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }
  div.menu > nav > ul > li {
    margin: 0 20px;
  }
  div.menu > nav > ul > li > a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms linear;
  }
  div.menu > nav > ul > li > a:hover {
    border-bottom: 2px solid #445069;
    color: black;
  }
  div.menu > nav > h3 {
    width: 30%;

    margin-right: 4.5%;
  }
  div.menu > nav > h3 > a {
    color: black;
    text-decoration: none;
  }
  div.menu > nav > h3 > a > span {
    color: var(--rang);
  }
  div.container4 {
    width: 90%;
    padding-bottom: 5%;
    box-shadow: 2px 2px 15px gray;
    margin: 9.5% auto;
    border-radius: 15px;
    background-color: white;
  }
  div.container4 > div.header {
    width: 100%;
    height: 141px;
    background-color: var(--rang);
    border-radius: 15px 15px 0 0;
    text-align: center;
  }
  div.container4 > div.header > p {
    line-height: 141px;
    font-size: 250%;
    font-weight: bolder;
    color: white;
  }
  div.container4 > div.samples {
    width: 100%;
    margin-top: 2.6%;
    display: flex;
    justify-content: center;
    column-gap: 2%;
  }
  div.container4 > div.samples > a {
    text-decoration: none;
    font-size: 80%;
    color: rgb(134, 134, 134);
    font-weight: 400;
    transition: all 300ms linear;
    border-radius: 10%;
    padding: 0.2% 0.5%;
  }
  div.container4 > div.samples > a:hover {
    background-color: lightgray;
  }
  div.container4 > div.samples > a:focus {
    background-color: var(--rang);
    color: white;
  }
  div.container4 > div.pix {
    width: 92%;
    

    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0.6%;
  }
  div.container4 > div.pix > img {
    width: 33%;
    margin: 0.3% 0px;
  }
}
